<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxiee.heartbeat" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.EntryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.maxiee.heartbeat.ui.MainActivity" />
        <activity
            android:name="com.maxiee.heartbeat.ui.AddEventActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.maxiee.heartbeat.ui.MainActivity" />
        <activity android:name="com.maxiee.heartbeat.ui.EventDetailActivity"
            android:parentActivityName="com.maxiee.heartbeat.ui.MainActivity" />
        <activity
            android:name="com.maxiee.heartbeat.ui.LabelDetailActivity"
            android:parentActivityName="com.maxiee.heartbeat.ui.EventDetailActivity" />
        <activity
            android:name="com.maxiee.heartbeat.ui.SettingsActivity"
            android:parentActivityName="com.maxiee.heartbeat.ui.MainActivity" />
        <activity
            android:name=".ui.CrashListActivity"
            android:parentActivityName=".ui.SettingsActivity" />
        <activity android:name=".ui.CrashDetailActivity"
            android:parentActivityName=".ui.CrashListActivity" />
        <activity android:name=".ui.SearchResultActivity" />
        <activity android:name=".ui.PatternActivity" />
        <activity
            android:name=".ui.GalleryActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".ui.AddEditThoughtActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
    </application>

</manifest>
